*{
    box-sizing: border-box;
}
:root{
    --font-heading: Sen, sans-serif;
    --primary-color:#FFB900;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'poppins', sans-serif;
}
/* Common */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.heading{
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02rem;
}
.heading.lv1{
    font-size: 5.7rem;
    line-height: 1.17;
}
.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.26;
}
.btn{
    display: inline-block;
    min-width: 118px;
    background-color: #171100;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
    border-radius: 999px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.6rem;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.break-all{
    word-break: break-all;
}
/* header */
.header{
    background-color: #FFFCF4;
}
.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto ;
}
.nav ul {
    display: flex;
}
.nav ul li a{
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #5F5B53;
    padding: 8px 21px;
}
.nav ul li a:hover,
.nav ul li.active a{
    /* Thay vi dung font weight dam chu thi cac chu co the cach nhau ra ta dung text shadow */
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
} 
.nav ul li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    /* bottom: 6px; */
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}
.header .sign-up-btn{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}
/* hero */
.hero{
    padding : 56px 0 65px ;
    background-color: #FFFCF4;

}
.hero .body{
    display: flex;  
}
.hero .media-block{
    position: relative;
    width: 48%;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.hero .hero-summary{
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 16 32 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero .hero-summary .item{
    display: flex;
    align-items: center;

}
.hero .hero-summary .item + .item{
    margin-top: 22px;
}
.hero .hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}
.hero-summary .item:nth-child(2) .icon{
    background-color: #FCEFFF;
}
.hero-summary .item:nth-child(3) .icon{
    background-color: #EBEAFF;
}
.hero .hero-summary .info {
    margin-left: 16px;
}
.hero .hero-summary .info .label{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.hero .hero-summary .info .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .content-block{
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .desc{
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5F5B53;
}
.hero .cta-group{
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero .cta-group .hero-cta{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}
.hero .watch-video{
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hero .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.hero .watch-video span{
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.content-block .stats{
    margin: 8px 0 0 -28px;
}
.content-block .stats strong{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding: 0 8px 0 28px;
}
/* popular */
.popular{
    margin-top: 135px;
    padding: 65px 0;
}
.popular .popular-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular .popular-top .info .desc{
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.popular .controls{
    display: flex;
    gap: 18px;
}
.popular .controls .control-btn{
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}
.popular .controls .control-btn:hover{
    background-color: #FFB900;
    color: #fff;
    cursor: pointer;
}
.popular .course-list{
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.popular .course-item{
    flex: 1;
    background-color: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}
.popular .course-item:hover{
    border-color: transparent;
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.05);
}
.popular .course-list .course-item .thumb{
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}
.popular .course-list .course-item .info{
    padding: 16px 22px ;
}
.popular .course-list .course-item .info .head .rating,
.popular .course-list .course-item .info .foot,
.popular .course-list .course-item .info .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .course-list .course-item .info .head .title a{
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .course-list .course-item .info .head .value{
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}
.popular .course-list .course-item .info .desc{
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.popular .course-list .course-item .info .foot{
    margin-top: 12px;
}
.popular .course-list .course-item .info .foot .price{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .course-list .course-item .info .foot .book-btn{
    border: none;
    
}
.popular .course-list .course-item .info .foot .book-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
/* feedback */
.feedback{
    margin-top: 135px;
    background-color: #2E2100;
    padding: 96px 0;
}
.feedback .feedback-list{
    display: flex;
    overflow: hidden;
}
.feedback .feedback-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 0;
}
.feedback .feedback-item .info .avatart{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-item .info .title{
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}
.feedback .feedback-item .info .desc{
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}
.feedback .feedback-item .info .dots{
    margin-top: 28px;
    display: flex;
}
.feedback .feedback-item .info .dot{
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
}
.feedback .feedback-item .info .dot.active{
    background-color: #FFB900;
    cursor: default;
}
.feedback .feedback-item .content{
    width: 66%;
    /* position: relative; */
}
.feedback .feedback-item .content blockquote{
    /* position: absolute; */
    /* left: 30px;
    top: 28px; */
    margin-left: 30px;
    font-weight: 400;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 4rem;
    color: #fff;
}
/* features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}
.features .body{
    display: flex;
    justify-content: space-between;
}
.features .body .imgages{
    display: flex;
    gap: 0 30px;
}
.features .body .imgages img{
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}
.features .body .imgages img:first-child{
    margin-top: 34px;
}
.features .body .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 42%;
}
.features .body .content .desc{
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #5F5B53;
}
.features .body .btn-features{
    width: 137px;
    background-color: var(--primary-color);
    margin-top: 32px;
}
.features-2nd{
    margin-top: 70px;
}
.features-2nd .body{
    flex-direction: row-reverse;
}
.features-2nd .body .content{
    width: 50%;
}
.features-2nd .body .imgages img{
    width: 470px;
    height: 440px;
}