*{
    box-sizing: border-box;
}
:root{
    --font-heading: Sen, sans-serif;
    --primary-color:#FFB900;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'poppins', sans-serif;
}
/* Common */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 118px;
    background-color: #171100;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
    border-radius: 999px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.6rem;
}
.btn:hover{
    opacity: 0.9;
}
/* header */
.header{
    background-color: #FFFCF4;
}
.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto ;
}
.nav ul {
    display: flex;
}
.nav ul li a{
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #5F5B53;
    padding: 8px 21px;
}
.nav ul li a:hover,
.nav ul li.active a{
    /* Thay vi dung font weight dam chu thi cac chu co the cach nhau ra ta dung text shadow */
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
} 
.nav ul li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    /* bottom: 6px; */
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}
.header .sign-up-btn{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}
/* hero */
.hero{
    padding-top: 56px;
    background-color: #FFFCF4;

}
.hero .body{
    display: flex;  
}
.hero .media-block{
    position: relative;
    width: 48%;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary{
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 24px;
    background-color: #FFFFFF;
    box-shadow: 0 16 32 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero .hero-summary .item{
    display: flex;
    align-items: center;

}
.hero .hero-summary .item + .item{
    margin-top: 22px;
}
.hero .hero-summary .icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}
.hero-summary .item:nth-child(2) .icon{
    background-color: #FCEFFF;
}
.hero-summary .item:nth-child(3) .icon{
    background-color: #EBEAFF;
}
.hero .hero-summary .info {
    margin-left: 16px;
}
.hero .hero-summary .info .label{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.hero .hero-summary .info .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .content-block{
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .content-block .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.7rem;
    line-height: 1.17;
    letter-spacing: -0.02rem;
}
.hero .desc{
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #5F5B53;
}
.hero .cta-group{
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}
.hero .cta-group .hero-cta{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}
.hero .watch-video{
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hero .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.hero .watch-video span{
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.content-block .stats{
    margin: 8px 0 0 -28px;
}
.content-block .stats strong{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding: 0 8px 0 28px;
}